@model IEnumerable<Shopping_List_App.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Kategorie
                @*@Html.DisplayNameFor(model => model.Title)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id"><i style="color: #D8000C;" class="fas fa-times fa-lg mr-3"></i></a><b>|</b>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-cog fa-lg ml-3"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
