@model IEnumerable<Shopping_List_App.Models.ListItem>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5">Items</h1>

@*<ul>
    @foreach (ListItem listitem in @Model)
    {
        <li>
            @Html.ActionLink(listitem.Title, "Details", new { id  = listitem.ListId })
        </li>
    }
</ul>*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.List.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
        <tr>
            <td colspan="7" class="text-center">
                <a asp-action="Create"><i class="fas fa-plus"></i></a>
            </td>
                
        </tr>
</tbody>
</table>
