@model IEnumerable<Shopping_List_App.Models.List> 

@{
    ViewData["Title"] = "Index";
}

@*<ul>
    @foreach (List list in @Model)
    {
        <li>
            @Html.ActionLink(list.Title, "Index", "ListItem", new {  listId = list.Id }, null)
        </li>
    }
</ul>*@
<h4 class="mt-5">Einkaufslisten</h4>

<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
    
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Index", "ListItem", new { listId = item.Id }, null)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-cog fa-lg mr-5"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" onclick="return confirm('Wollen Sie diese Liste wirklich löschen?')"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
        }
        <tr>
            <td colspan="3" class="text-center"><a asp-action="AddOrEdit"><i class="fas fa-plus"></i></a></td>
        </tr>
    </tbody>
</table>
